* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: black;
}

body {
    position: relative;
    
    background: no-repeat url('icon/1.png');
    background-size: cover;
   
}

#top-nav {
    position: relative;
    height: 48px;
    text-align: center;
}

#top-nav #bg {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    padding: 10px 20px;
    
    
}

#top-nav #bg img {
    float: right;
    margin: 0 5px;
}

#top-nav #bg img:hover {
    cursor: grab;
}

#top-nav div {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 150px;
    border-top: 2px solid yellow;
    
    
}


#top-nav div a {
display: block;
position: absolute;
left:0;
top: -100%;
font-size: 24px;
color: yellow;
}

#top-nav div:hover a {
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
}

#main-box {
    position: relative;
    width: 100%;
    height:300px;
}

#side-box {
    position: relative;
    margin-top: 20px;
    width: 250px;
    height:300px;
    border-left: 2px solid yellow;
}
#side-box:hover #note{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    border-left: none;
}

#side-box #note {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 20px;
    background-color:rgba(240,240,240,.4);
    

}



#side-box h4{
    text-align: center;
    color: red;
    opacity: 1;
}

#main-box #search-box {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 420px;
    height: 80px;
    border-radius: 18px;
    text-align: center
}

#main-box #search-box input {
    display: inline-block;
    width: 400px;
    height: 36px;
    border: 0;
    outline: none;
    border-radius: 18px;
    text-align: center;
    opacity: 0.65;
    color: black;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}

#main-box #search-box input:focus{
    width: 420px;
    opacity: 0.9;
}

#main-box #search-box button{
    
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: aqua;
}
#main-box #search-box #switch {
    height: 20px;
    margin-bottom: 6px;
}

#main-box #search-box #switch:active {
    transform: rotate(180deg);
    transition: 0.5s;
}

#icons {
    display:flex;
    height: 32px;
    width: auto;
    position:fixed;
    left: 25px;
    bottom: 25px;
    background-color: bisque;
    
}
#icons img {
    float: left;
}

#icons ul li{
    float: left;
    height: 32px;
    width: 0px;
    opacity: 0;
    transform: translateX(-32px);
    transition: .3s;
}

#icons:hover ul li{
    width: 32px;
    opacity: 1;
    transform: translateX(0);
    margin-left: 15px;
}